<div style="padding: 20px;">
  <mat-form-field>
    <mat-label>Select a number </mat-label>
    <mat-select  [(ngModel)]="selectedValue" name="food">
      @for (no of img_list; track no) {
        <mat-option [value]="no">{{no}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <p> Selected value: {{selectedValue}} </p>
</div>
<div class="container" style="padding: 20px;">
  <div class="row">
      <div  class="cont-main">
      <ng-container *ngFor="let img of imageArr;index as i">
        <div class="container">  
          <span class="cover-checkbox">
            <i class="fa fa-check hidden"></i>
            //avoid showing number when count is 0 
            <div class="top-right" *ngIf="img.count != 0">{{ img.count }}</div>
          </span>
        <div class="cont-checkbox">
            <input type="checkbox" [id]="'myCheckbox-' + i"/>
            <label [for]="'myCheckbox-' + i">
              //has function imageClicked(img) when clicked goes to ts file and performs the mentioned functionality for that particular image i.e. img
              <img class="img-click" src="{{ img.imgPath }}" alt="NA" (click)="imageClicked(img)" height="200" width="100%"/>
              
            </label>
            //displays image title
              <div class="info">{{ img.title }}</div>
          </div>
          </div>
      </ng-container>
    </div>
  </div>
  </div>
