.img-click {
    cursor: pointer;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: black;
  }
  